// Sizes
$size-base: 16;
$size-gutter: 10px;

// Colors
$color-black: #000;
$color-charcoal: #777;
$color-headline: #555;
$color-gray: #eee;
$color-red: #e44525;
$color-pass: #c5ac2f;
$color-fail: #dd0087;
$color-macmillan-blue: #73b1db;
$color-macmillan-blue-hover: #3e93cd;
$color-macmillan-blue-active: #2b72a5;

// Breakpoints
$bp-tablet: 750px;
$bp-desktop: 1205px;