<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Webcam</title>
    <style>
      video {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <!-- React will place its components in the following #content div. -->
    <div id="content"></div>
<!--
    <script src="http://localhost:8080/webpack-dev-server.js"></script>
    <script type="text/javascript" src="http://localhost:8080/webcambundle.js"></script>
-->
    <script src="/js/webcambundle.js"></script>
  </body>
</html>